{% extends 'base.html' %}

{% block content %}

<main class="container" ng-controller="ContactDetailCtrl" ng-init="getContact('{{ contact_id }}')" ng-cloak>

    <div ng-show="error_message">[[ error_message ]]</div>
    <div ng-hide="error_message">

    <section id="contact-parameters">

        <h1>[[ contact.fullname ]]</h1>

        <form name="ContactForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="text-group">
                            <label for="firstname">Firstname:</label>
                            <span class="error message" ng-show="(ContactForm.firstname.$touched || ContactForm.firstname.$dirty) && ContactForm.firstname.$invalid">
                                <span ng-show="ContactForm.firstname.$error.required">&#10006; First name is required.</span>
                                <span ng-show="ContactForm.firstname.$error.maxlength">&#10006; Maximum 254 characters allowed.</span>
                            </span>
                            <span class="ok message" ng-show="ContactForm.firstname.$dirty && ContactForm.firstname.$valid">&#10004;</span>
                        </div>
                        <input name="firstname" class="form-control" placeholder="required" ng-model="contact.firstname" ng-maxlength="254" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="text-group">
                            <label for="lastname">Lastname:</label>
                            <span class="error message" ng-show="(ContactForm.lastname.$touched || ContactForm.lastname.$dirty) && ContactForm.lastname.$invalid">
                                <span ng-show="ContactForm.lastname.$error.required">&#10006; Last name is required.</span>
                                <span ng-show="ContactForm.lastname.$error.maxlength">&#10006; Maximum 254 characters allowed.</span>
                            </span>
                            <span class="ok message" ng-show="ContactForm.lastname.$dirty && ContactForm.lastname.$valid">&#10004;</span>
                        </div>
                        <input name="lastname" class="form-control" placeholder="required" ng-model="contact.lastname" ng-maxlength="254" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="text-group">
                    <label for="address">Address:</label>
                    <span class="error message" ng-show="(ContactForm.address.$touched || ContactForm.address.$dirty) && ContactForm.address.$invalid">
                        <span ng-show="ContactForm.address.$error.required">&#10006; Address is required.</span>
                        <span ng-show="ContactForm.address.$error.maxlength">&#10006; Maximum 254 characters allowed.</span>
                    </span>
                    <span class="ok message" ng-show="ContactForm.address.$dirty && ContactForm.address.$valid">&#10004;</span>
                </div>
                <input name="address" id="address" class="form-control" placeholder="required" ng-model="contact.address" ng-maxlength="254" required>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="text-group">
                            <label for="email">E-mail:</label>
                            <span class="error message" ng-show="(ContactForm.email.$touched || ContactForm.email.$dirty) && ContactForm.email.$invalid">
                                <span ng-show="ContactForm.email.$error.required">&#10006; Email is required.</span>
                                <span ng-show="ContactForm.email.$error.email">&#10006; Invalid email address.</span>
                            </span>
                            <span class="ok message" ng-show="ContactForm.email.$dirty && ContactForm.email.$valid">&#10004;</span>
                        </div>
                        <input name="email" type="email" class="form-control" placeholder="required" ng-model="contact.email" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="text-group">
                            <label for="phone">Phone number:</label>
                            <span class="error message" ng-show="(ContactForm.phone.$touched || ContactForm.phone.$dirty) && ContactForm.phone.$invalid">
                                <span ng-show="ContactForm.phone.$error.required">&#10006; Phone number is required.</span>
                                <span ng-show="ContactForm.phone.$error.pattern">&#10006; Phone must be in the format: '+99999999'.<br></span>
                                <span ng-show="ContactForm.phone.$error.minlength && ContactForm.phone.$touched">&#10006; Minimum 8 digits required.</span>
                            </span>
                            <span class="ok message" ng-show="ContactForm.phone.$dirty && ContactForm.phone.$valid">&#10004;</span>
                        </div>
                        <input name="phone" class="form-control" placeholder="+99999999 (required)" ng-model="contact.phone" ng-minlength="9" ng-pattern="/^\+\d{0,15}$/" required>
                    </div>
                </div>
            </div>

            <button class="btn" ng-disabled="ContactForm.$invalid || !ContactForm.$dirty"  ng-click="updateContact(contact)">Update contact</button>
        </form>

    </section>

    <section id="contact-skills">

        <h3>Skills:</h3>

        <form name="SkillForm" novalidate>
            <div class="table-responsive">          
                <span class="table">
                    <span class="table-header-group">
                        <span class="table-row">
                            <span class="table-cell">Name</span>
                            <span class="table-cell">Level</span>
                            <span class="table-cell"></span>
                            <span class="table-cell"></span>
                        </span>
                    </span>
                    <span class="table-row-group">
                        <span class="table-row">
                            <span class="table-cell input-cell">
                                <span class="error message" ng-show="(SkillForm.name.$touched || SkillForm.name.$dirty) && SkillForm.name.$invalid">
                                    <span class="tooltiptext" ng-show="SkillForm.name.$error.required">&#10006; Skill name is required.</span>
                                    <span class="tooltiptext" ng-show="SkillForm.name.$error.maxlength">&#10006; Maximum 254 characters allowed.</span>
                                </span>
                                <input name="name" class="form-control" placeholder="required" ng-model="new_skill.name" ng-maxlength="254" required>
                            </span>
                            <span class="table-cell input-cell">
                                <div class="text-group">
                                    <span class="error message" ng-show="(SkillForm.level.$touched || SkillForm.level.$dirty) && SkillForm.level.$invalid">
                                        <span class="tooltiptext" ng-show="SkillForm.level.$error.required">&#10006; Level is required.</span>
                                        <span class="tooltiptext" ng-show="SkillForm.level.$error.min">&#10006; Minimum level is 1.</span>
                                        <span class="tooltiptext" ng-show="SkillForm.level.$error.max">&#10006; Maximum level is 3.</span>
                                    </span>
                                </div>
                                <input name="level" type="number" class="form-control" placeholder="1-3 (required)" ng-model="new_skill.level" ng-min="1" ng-max="3" required>
                            </span>
                            <span class="table-cell icon"></span>
                            <span class="table-cell icon">
                                <button class="btn icon" ng-disabled="SkillForm.$invalid"  ng-click="addSkill(new_skill, contact)">
                                    <img data-ng-src="[[ icon_add ]]" title="Add new skill" alt="Add contact" width="32px" height="32px">
                                </button>
                            </span>
                        </span> 
                        <span class="table-row" ng-repeat="skill in contact.skills | orderBy:['id']">
                            <span class="table-cell input-cell">
                                <span class="error message" ng-show="(SkillForm.name[[ skill.id ]].$touched || SkillForm.name[[ skill.id ]].$dirty) && SkillForm.name[[ skill.id ]].$invalid">
                                    <span class="tooltiptext" ng-show="SkillForm.name[[ skill.id ]].$error.required">&#10006; Skill name is required.</span>
                                    <span class="tooltiptext" ng-show="SkillForm.name[[ skill.id ]].$error.maxlength">&#10006; Maximum 254 characters allowed.</span>
                                </span>
                                <input name="name[[ skill.id ]]" class="form-control" placeholder="required" ng-model="skill.name" ng-maxlength="254" required>
                            </span>
                            <span class="table-cell input-cell" style="width: 25%">
                                <span class="error message" ng-show="(SkillForm.level[[ skill.id ]].$touched || SkillForm.level[[ skill.id ]].$dirty) && SkillForm.level[[ skill.id ]].$invalid">
                                    <span class="tooltiptext" ng-show="SkillForm.level[[ skill.id ]].$error.required">&#10006; Level is required.</span>
                                    <span class="tooltiptext" ng-show="SkillForm.level[[ skill.id ]].$error.min">&#10006; Minimum level is 1.</span>
                                    <span class="tooltiptext" ng-show="SkillForm.level[[ skill.id ]].$error.max">&#10006; Maximum level is 3.</span>
                                </span>
                                <input name="level[[ skill.id ]]" type="number" class="form-control" placeholder="1-3 (required)" ng-model="skill.level" ng-min="1" ng-max="3" required>
                            </span>
                            <span class="table-cell icon">
                                <button class="btn icon" ng-disabled="SkillForm.name[[ skill.id ]].$invalid  || SkillForm.level[[ skill.id ]].$invalid || !(SkillForm.name[[ skill.id ]].$dirty  || SkillForm.level[[ skill.id ]].$dirty)" ng-click="updateSkill(skill, contact)">
                                    <img data-ng-src="[[ icon_save ]]" title="Update skill" alt="Update skill" width="32px" height="32px">
                                </button>
                            </span>
                            <span class="table-cell icon">
                                <button class="btn icon" ng-click="updateSkill(skill, contact, remove=true)">
                                    <img data-ng-src="[[ icon_trash ]]" title="Remove skill" alt="Remove skill" width="32px" height="32px">
                                </button>
                            </span>
                        </span>
                    </span>
                </span>
            </div>
        </form>

    </section>

    </div>

</main>

{% endblock content %}

